<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Children's Clothing Exchange.</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements"
           mat-raised-button class="actions-main" color="primary" routerLink="../features">
          Shop
        </a>
        <!-- <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
           [ngClass]="routeAnimationsElements">
          Examples
        </a> -->
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="routeAnimationsElements">
          Change Theme
        </a>
      </div>
    
    </div>
  </div>
</div>

<div class="container">
  <h2>Bottom container</h2>
</div>
