$primary-blue: '#21baea';
$secondary-blue: '#083e66';
$adjusted-blue: '#046084';

$primary-gray: '#919191';
$secondary-gray: '#323232';
$primary-light-gray: '#cdcdcd';
$secondary-light-gray: '#6e6e6e';

$oj: '#FF9F00';
$blue: '#4c6fcb';
$white: '#FFFFFF';
$blue-gray: '#a2acc4';
$gray: '#8c8c90';
$background-gray: '#eeeef2';
$yellow: '#fcdc64';
$pink: '#FFD7D7';
$dark-pink: '#F5A2A3';
$warning-red: '#cb4c6f';